@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>My single page app</title>
</head>
<body>

    <h2>My single page app</h2>

<script src="https://d19p4zemcycm7a.cloudfront.net/w2/auth0-widget-1.3.2.min.js"></script>
<script type="text/javascript">
    var widget = new Auth0Widget({
        domain:         'REPLACE_WITH_YOUR_AUTH0_DOMAIN', // e.g.: contoso.auth0.com
        clientID:       '@System.Configuration.ConfigurationManager.AppSettings["AUTH0_CLIENT_ID"]',
        callbackURL:    'REPLACE_WITH_YOUR_APP_CALLBACK', // e.g.: http://localhost:some_random_port
        callbackOnLocationHash: true
    });
</script>
<button onclick="widget.show()">Login</button>

<br />
<button id="get-customers">Get Customers</button>

<h3>Customers</h3>
<pre><code id="customers">Not logged in yet</code></pre>

<h3>User Info</h3>
<pre><code id="userinfo">Not logged in yet</code></pre>

<script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        widget.parseHash(window.location.hash, function (profile, id_token, access_token, state) {
            $('#userinfo').text(JSON.stringify(profile, 0, 2));

            $('#get-customers').on('click', function () {
                $('#customers').text('Loading...');
                $.ajax({
                    url: '/api/customers',
                    dataType: 'json',
                    beforeSend: function (request) {
                        if (id_token) request.setRequestHeader("Authorization", "Bearer " + id_token);
                    },
                    success: function (data, status, jqHXR) {
                        $('#customers').text(JSON.stringify(data));
                    },
                    error: function (resp) {
                        if (resp.status == 401) {
                            $('#customers').text('Unauthorized');
                        } else {
                            $('#customers').text('Error');
                        }

                    }
                });
            });
        });
    });
</script>
</body>
</html>
